 <!DOCTYPE html>
 <html>
	<head>
	  <title>Pusher Test</title>
	  <link href="pusher-realtime-chat-widget/src/pusher-chat.css" rel="stylesheet" type="text/css" />
	  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	  <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
	  <script type="text/javascript">
	    $(document).ready(function(){
		    var pusher = new Pusher('5e4ecb05e15638c23f86'); //my pusher key
		    var channel = pusher.subscribe('messages'); 
		    // the channel I'm subscribing to, it could be anything

		 //    $('#send').click(function(e){
			// 	var message = $('form input[type="text"]').val();
			// 	console.log(message);
			// 	e.preventDefault();
			// });

		    // Enable pusher logging - don't include this in production
		    Pusher.log = function(message) {
		      if (window.console && window.console.log) {
		        window.console.log(message);
		      }
		    };

		    channel.bind('new_message', function(data) { //reading new message from the channel the specific channel
		    	$("#messageWindow li:last-child").append('<li>' + data.text +' </li>') 
		    			//inserts the new message as the last li
		  		// $('new_message').appendTo('#messageWindow') 
		  		// alert('An event was triggered with message: ' + data.text);
		    });	


		});
	    	
	  </script>
	</head>

	<body data-spy="scroll" data-target="#messageWindow">
		<p> Welcome, <%= @user.email %> ! </p><!-- user.name -->
		<div id="messageWindow">
			<ul>
				<% @messages.each do |message| %>
					<li><%= message.text %></li>
				<% end %>
			</ul>
		</div>
		<%= form_for :message, url: messages_path, method: :post, remote: true do |f| %>
			<%= f.text_field :text %>
			<%= f.submit %>
		<% end %>
	</body>

</html>

