<h4> Koala default home page </h4>

 <h1>Log in or Sign up </h1>


<%= form_for @user, action: "/sessions", method: :post do |f| %>
<%if @user.errors.any? %>
	<div class="error_messages">
		<h2>Form is invalid</h2>
		<ul>
			<%for message in @user.errors.full_messages %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
	<p>Sign In</p>
	<p>
	  <%= f.label :email %>
	  <%= f.text_field :email, class: "email", placeholder: "Your Email" %>
	</p>
	<p>
	  <%= f.label :password %>
	  <%= f.password_field :password , class: "password", placeholder: " Your Password" %>
	</p>
	<p>
	  	<%= f.submit "Sign In", class:"btn btn-primary"%>
	</p>
	<p>Don't have an account?</p>
	<p><%= link_to "Sign Up" , register_path %></p>
	

  
<% end %>