<!DOCTYPE html>
<html>
<head>
  <title>Koala</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>

</head>

<body>

<%= render 'layouts/header' %>
<div class="container">
<%= yield %>

 <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>


</div>
</body>
</html>
